:root {
    --TextColor: #e7e7e7;
    --DarkTextColor: #7b8f8f;
    --MainBGColor: #1e1e1e;
    --SecondaryBGColor: #252526;
    --TrimColor: #414141;
    --TabColor: #383838;
    --OnlineColor: #55AA55;
}

html {
    margin: 0;
    padding: 0;
    height: 100vh
}

body {
    margin: 0;
    padding: 0;
    position:absolute; top:0; bottom:0; right:0; left:0;
    font-family: sans-serif;
    background-color: #1e1e1e;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #181818
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(109, 109, 109); 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(126, 126, 126); 
}

/* Handle on down */
::-webkit-scrollbar-thumb:active {
    background: rgb(95, 95, 95); 
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.Avatar {
    /* border-top-left-radius: 16px 8px;
    border-bottom-right-radius: 16px 8px;
    border-top-right-radius: 16px 8px;
    border-bottom-left-radius: 16px 8px; */

    /* -webkit-clip-path: polygon(50% 0%, 50% 0%, 100% 25%, 100% 75%, 50% 100%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 50% 0%, 100% 25%, 100% 75%, 50% 100%, 50% 100%, 0% 75%, 0% 25%); */

    border-radius: 8px;
}

button {
    text-align: center;
    border-radius: 4px;
    padding: 8px;
    margin: 4px;
    color: var(--TextColor);
    background-color: var(--SecondaryBGColor);
    border: 1.5px solid var(--TrimColor);
    cursor: pointer;
    font-size: 12pt;
}

button:hover {
    border-color: var(--TextColor);
}

button:active {
    border-color: var(--TrimColor);
    background-color: var(--MainBGColor);
}
